{
  "presets": ["env", "react", "stage-0"],
  "plugins": [
    "react-hot-loader/babel",
    ["module-resolver", {
        "root": ["./"],
        "extensions": [".js", ".jsx", ".json"],
        "alias": {
            "/": "./",
            "~": "./src",
            "components": "./src/components",
            "containers": "./src/containers",
            "actions": "./src/actions",
            "reducers": "./src/reducers",
            "services": "./src/services",
            "views": "./src/views"
        }
    }]
  ]
}
