@import './settings/*'
// @import './tools/*'
// @import './generic/*'
// @import './base/*'
// @import './objects/*'
// @import './components/*'
// @import './trumps/*'

body
    background-color #eee

h1
    font-family 'Lato'
    font-weight 400
    font-style normal

body
    color: red
